*.env
*.git
*.exe
*.log
node_modules/
dist/
build/
.vscode/
.DS_Store
coverage/
.idea/
*.iml
*.class
*.jar
*.war
*.swp
*.swo   
*.bak
*.tmp
*.pyc
__pycache__/
.env.local
.env.development.local
.env.test.local